body
{
  margin: 0 auto;
  padding: 0;
  background-color: #A9C5CB;
  /*background-image: url('../imgs/pic_depan/Page-BgTexture.jpg');*/
  background-image: url('../img/pic_depan/connect.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}


#container{
  width: 100%;
  height: 100%; 
  position: relative;

}

#wrapper{
  background-color: rgba(255, 255, 255, 0.93);
  margin: 10px auto 50px;
  width: 895px;
}
#header{
  margin-top: 10px !important;
  width: 898px;
  height: 200px;
  background: url('../img/pic_depan/Header.jpg');
}
#content-user{  
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  width: 895px;
}
.garis{
  width: 100%;
  border-bottom: 1px #CCC dashed;
  margin: 5px auto 10px;
  min-height: 10px;
}

#footer{
  margin: 0;
  padding: 10px;
  background-color: #CCC;
  border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
}
.foot-kiri{
  width: 38px;
margin: 0;
border-right: rgb(156, 156, 156) 1px solid;
}
.foot-kanan{
  float: right;
margin: 4px 0px 0px 10px;
width: 95%;

}


/*halaman depan*/
body
{
  margin: 0 auto;
  padding: 0;
  background-color: #A9C5CB;
  background-image: url('../img/mix/Page-BgTexture.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}



.PageBackgroundGradient
{
  background-image: url('../img/mix/Page-BgGradient.jpg');
  background-repeat: repeat-x;
  height: 211px;
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


/* end Page */

/* begin Box, Sheet */
.Sheet
{
  overflow: hidden;
  min-width:13px;
  min-height:13px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 900px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 1px;
}

.Sheet-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-image: url('../img/mix/Sheet-s.png');
}

.Sheet-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
}

.Sheet-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -6px;
  width: 12px;
  height: 12px;
  background-image: url('../img/mix/Sheet-s.png');
}

.Sheet-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 6px;
  height: 6px;
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url('../img/mix/Sheet-s.png');
}

.Sheet-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 6px;
}

.Sheet-br div
{
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  background-image: url('../img/mix/Sheet-s.png');
}

.Sheet-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 6px;
  right: 6px;
  height: 6px;
}

.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url('../img/mix/Sheet-h.png');
}

.Sheet-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 6px;
  right: 6px;
  height: 6px;
}

.Sheet-bc div
{
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 0;
  width: 100%;
  height: 12px;
  background-image: url('../img/mix/Sheet-h.png');
}

.Sheet-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 6px;
  left: 0;
  width: 6px;
  bottom: 6px;
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;
  background-image: url('../img/mix/Sheet-v.png');
}

.Sheet-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 6px;
  right: 0;
  width: 6px;
  bottom: 6px;
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -6px;
  width: 12px;
  height: 100%;
  background-image: url('../img/mix/Sheet-v.png');
}

.Sheet-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-image: url('../img/mix/Sheet-c.png');
}


.Sheet
{
  margin-top: 10px !important;
}
/* end Box, Sheet */

/* begin Header */
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 898px;
  height: 200px;
}

div.Header-png
{
  position: absolute;
  z-index:-2;
  top: 0;
  left: 0;
  width: 898px;
  height: 200px;
  background-image: url('../img/mix/Header.png');
  background-repeat: no-repeat;
  background-position: left top;
}


div.Header-jpeg
{
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  width: 898px;
  height: 200px;
  background-image: url('../img/mix/Header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
  display : block;
  position: absolute;
  left: 10px;
  top: 61px;
  width: 878px;
}

h1.logo-name
{
  display: block;
  text-align: center;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 35px;
  text-decoration: none;
  padding:0;
  margin:0;
  color: #263B40 !important;
}

.logo-text
{
  display: block;
  text-align: center;
}

.logo-text, .logo-text a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  padding:0;
  margin:0;
  color: #263B40 !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url(../img/mix/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


/* menu structure */

.nav
{
  position: relative;
  margin: 0  auto;
  width: 898px;
  height: 31px;
  z-index: 100;
}

.artmenu
{
  padding: 2px 1px 0px 1px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 31px;
}

.nav .l
{
  left: 0;
  right: 0px;
}


.nav .r
{
  right: 0;
  width: 0px;
}


.nav .r div
{
  width: 898px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('../img/mix/nav.png');
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 29px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 1px;
  margin-left: 1px;

}
.artmenu a
{
  background-image: url('../img/mix/item-left.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.artmenu a span
{
  background-image: url('../img/mix/item-right.png');
  background-position: right top;
  background-repeat: no-repeat;
}
.artmenu a span span
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #152023;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 29px;
  text-align: center;
  background-image: url('../img/mix/item-center.png');
  background-position: left top;
  background-repeat: repeat-x;

}


.artmenu a:hover
{
  background-position: left -29px;
}

.artmenu li:hover>a
{
  background-position: left -29px;
}
.artmenu li:hover a span
{
  background-position: right -29px;
}

.artmenu a:hover span
{
  background-position: right -29px;
}


.artmenu a:hover span span
{
  color: #F8E8E3;
  background-position: left -29px;
}

.artmenu li:hover a span span
{
  color: #F8E8E3;
  background-position: left -29px;
}


.artmenu a.active
{
  background-position: left -58px;
}

.artmenu a.active span
{
  background-position: right -58px;
}

.artmenu a.active span span
{
  color: #283E43;
  background-position: left -58px;
}

/* end MenuItem */

/* begin ContentLayout */
.contentLayout
{
  margin-bottom: 0px;
  width: 898px;
  position: relative;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
  overflow: hidden;
  min-width:11px;
  min-height:11px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Block-body
{
  position: relative;
  z-index: 0;
  margin: 7px;
}

.Block-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-image: url('../img/mix/Block-s.png');
}

.Block-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
}

.Block-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-image: url('../img/mix/Block-s.png');
}

.Block-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
}

.Block-bl div
{
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('../img/mix/Block-s.png');
}

.Block-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
}

.Block-br div
{
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-image: url('../img/mix/Block-s.png');
}

.Block-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 5px;
  right: 5px;
  height: 5px;
}

.Block-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('../img/mix/Block-h.png');
}

.Block-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 5px;
  right: 5px;
  height: 5px;
}

.Block-bc div
{
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('../img/mix/Block-h.png');
}

.Block-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 5px;
  left: 0;
  width: 5px;
  bottom: 5px;
}

.Block-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-image: url('../img/mix/Block-v.png');
}

.Block-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 5px;
  right: 0;
  width: 5px;
  bottom: 5px;
}

.Block-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -5px;
  width: 10px;
  height: 100%;
  background-image: url('../img/mix/Block-v.png');
}

.Block-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-image: url('../img/mix/Block-c.png');
}


.Block
{
  margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  z-index: 0;
  line-height: 30px;
  padding: 0 8px;
  margin-bottom: 0px;

}

.BlockHeader-text
{
  white-space : nowrap;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 0px;
}


.BlockHeader .r
{
  right: 0;
  width: 0px;
}


.BlockHeader .r div
{
  width: 898px;
  right: 0;
}





.header-tag-icon
{
  display:inline-block;
  background-position:left top;
  background-image: url('../img/mix/BlockHeaderIcon.png');
  padding:0 0 0 20px;
  background-repeat: no-repeat;
  min-height: 12px;
  margin: 0 0 0 5px;
}




/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.BlockContent-body
{
  position: relative;
  z-index: 0;
  margin: 8px;
}


.BlockContent-body
{
  color:#192629;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.BlockContent-body a:link
{
  color: #126D81;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
  color: #5E919C;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
  color: #1993AE;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}


.BlockContent-body ul
{
  list-style-type: none;
  color: #24383D;
  margin:0;
  padding:0;
}

.BlockContent-body li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.BlockContent-body ul li
{
  padding:0px 0 0px 13px;
  background-image: url('../img/mix/BlockContentBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
  overflow: hidden;
  min-width:15px;
  min-height:15px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
  position: relative;
  z-index: 0;
  margin: 6px;
}

.Post-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-image: url('../img/mix/Post-s.png');
}

.Post-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Post-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url('../img/mix/Post-s.png');
}

.Post-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 7px;
  height: 7px;
}

.Post-bl div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url('../img/mix/Post-s.png');
}

.Post-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Post-br div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url('../img/mix/Post-s.png');
}

.Post-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Post-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url('../img/mix/Post-h.png');
}

.Post-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Post-bc div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url('../img/mix/Post-h.png');
}

.Post-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  left: 0;
  width: 7px;
  bottom: 7px;
}

.Post-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 14px;
  height: 100%;
  background-image: url('../img/mix/Post-v.png');
}

.Post-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  right: 0;
  width: 7px;
  bottom: 7px;
}

.Post-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -7px;
  width: 14px;
  height: 100%;
  background-image: url('../img/mix/Post-v.png');
}

.Post-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-image: url('../img/mix/Post-c.png');
}


.Post
{
  margin: 7px;
}


/* Start images */
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 1px;
  border-color: #A9C5CB;
  margin: 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 0px #8CB2BA;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
  text-decoration:none;
  margin: 0.2em 0;
  padding: 0;
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  word-spacing:normal;
  font-variant:normal;
  text-decoration:none;
  font-variant:normal;
  text-transform:none;
  text-align:left;
  text-indent:0;
  line-height:inherit;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #0E5362;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  color: #0E5362;
}

.PostHeaderIcon-wrapper img
{
  border:none;
  vertical-align: middle;
  margin:0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #116678;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #456A73;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  text-align: left;
  color: #1BA2C0;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #1D2C30;
}

.PostContent
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: justify;
  line-height: 150%;
  color: #1D2C30;
}

/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #14788F;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #14788F;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #527F89;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #1BA2C0;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #14788F;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  text-align: left;
  color: #1BA2C0;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #3D5F66;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  text-align: left;
  color: #395960;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  text-align: left;
  color: #395960;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  text-align: left;
  color: #395960;
}
/* Finish Content headings Fonts & Colors  */

/* end PostContent */

/* begin PostBullets */
/* Start Content list */

ul
{
  list-style-type: none;
  color: #2A4146;
  margin:0;
  padding:0;
}

li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}



.Post ul li
{
  padding:0px 0 0px 13px;
  background-image: url('../img/mix/PostBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */

blockquote p
{
  color:#0D1516;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: left;
}

blockquote
{
  border-color:#A9C5CB;
  border-width: 0px;
  border-style: solid;

  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 37px;

  background-color:#EFF4F5;

  background-image:url('../img/mix/PostQuote.png');
  background-position:left top;
  background-repeat:no-repeat;
}



/* Finish blockuote */
/* end PostQuote */

/* begin Button */
button.Button, a.Button
{
  position:relative;
  display:inline-block;
  width: auto;
  outline:none;
  border:none;
  background:none;
  line-height:27px;
  margin:0;
  padding:0;
  overflow: visible;
  cursor: default;
  text-decoration: none !important;
}


/*This HACK needed for ie7 (button position)*/
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  z-index: 0;
  height: 27px;
  color: #FAEFEB;
  white-space: nowrap;
  float: left;
}

.Button .t
{
  height:27px;
  white-space: normal;
  padding: 0 15px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 27px;
  text-decoration: none !important;
}

input, select
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}

.Button .active
{
  color: #EDFAFC;
}

.Button .hover,  a.Button:hover
{
  color: #E9F0F2;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -54px;
}

.Button .hover .r
{
  top: -27px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 3px;
  height: 81px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:407px;
  height: 81px;
}


.Button .active .l
{
  top: -54px;
}

.Button .hover .l
{
  top: -27px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 3px;
  height: 81px;
}


.Button .l, .Button .r span
{
  background-image: url('../img/mix/Button.png');
}

/* end Button */

/* begin Footer */
.Footer
{
  position:relative;
  z-index:0;
  overflow:hidden;
  width: 898px;
  margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 15px;
  text-align: left;
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
  background-repeat:no-repeat;
  background-image: url('../img/mix/Footer.png');
  width: 898px;
  height: 100px;
  bottom:0;
  left:0;
}



.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#192629;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 9px;
  letter-spacing: 1px;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #5E919C;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #86ADB6;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 9px;
  text-decoration: underline;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #1993AE;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 9px;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
  font-family:Arial;
  font-size:10px;
  letter-spacing:normal;
  word-spacing:normal;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#1A96B3;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#699AA5;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 224px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 895px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar2
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 224px;
}

/* end LayoutCell */


